.top{
    background-color: black;
    color:white;
    height:500px;
    padding-top: 20px;
    text-align: center;
    
}
a:link {
  color:white;
  background-color: transparent;
  text-decoration: none;
  padding-top: 20px;

}

a:hover {
  color:lightgreen;
  background-color: transparent;
  text-decoration: none;
}
body{
    margin:0px;
}
